body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.container {
  min-height: 100vh;
  background-color: #f6f7fb;
}
.inner-container {
  max-width: 700px;
  margin: auto;
  padding: 5px;
  height: 100%;
}
.entire-border {
  padding: 19px;
  background-color: #ffffff;
  border-radius: 9px;
  box-shadow: 0px 0px 10px 10px rgb(188 182 182 / 50%);
  margin: auto;
  cursor: pointer;
  margin-top: 115px;
}
.star {
  padding: 3px;
  width: 20px;
  height: 20px;
  text-align: center;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.star:hover {
  background-color: #c00e0e;
  transition: all 0.4s;
}
.border-header {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  align-items: center;
}
.question-p {
  text-align: center;
  font-size: 27px;
}
.button-btn {
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
  column-gap: 25px;
}
.btn {
  border-radius: 8px;
  font-size: 27px;
  background-color: white;
  border: 2px solid #d5d5d5;
  cursor: pointer;
  padding: 16px;
}

.fullwidth {
  width: 100%;
}
.btn:hover {
  border-color: rgb(118, 116, 116);
  transition: all 0.4s;
}
.title {
  height: 22px;
  width: 76px;
  border-radius: 43px;
  text-align: center;
}
.green-color {
  background-color: #31bf31;
}
.blue-color {
  background-color: rgb(40 152 226);
}
.button-container {
  border-top: 2px solid silver;
  margin-top: 77px;
}
.input-wraper {
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}
.input {
  height: 155px;
  width: 303px;
  font-size: 18px;
  padding-left: 12px;
  padding-top: 12px;
  cursor: pointer;
  border-radius: 6px;
  border: 3px solid #aca9a9;
  resize: none;
}

.blue {
  border-color: rgb(40 152 226);
}
.blue:hover {
  border-color: rgb(12, 63, 130);
  transition: all 0.4s;
}
.green {
  border-color: #31bf31;
}
.green:hover {
  border-color: rgb(7, 79, 7);
  transition: all 0.4s;
}
.cards-title {
  text-align: center;
  font-size: 22px;
  padding-bottom: 42px;
}

.submit-btn {
  border-radius: 8px;
  font-size: 25px;
  background-color: white;
  border: 2px solid #d5d5d5;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  padding: 10px 20px;
}
.submit-btn:hover {
  background-color: aliceblue;
  transition: all 0.4s;
}
i.fa-regular.fa-trash-can {
  color: red;
  font-size: 21px;
  cursor: pointer;
}
